:root{
  --firstlayer: #121212;
  --secondlayer: #292929;
  --accentColor: #d11313;
  --textcolor: white;
}

body{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
  display: none;
}

.fullHeight{
  height: 100vh;
}

body{
  background-color: var(--firstlayer);
  overflow-x: hidden;
}

.NameCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BlobCol{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.FredPic{
  position: absolute;
  margin-left: 10vw;
  z-index: 3;
  height: 35vh;
  width: auto;
}

.MyProjectsHeader{
  font-family: 'Oswald', sans-serif;
  color: var(--textcolor);
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.Skill{
  color: var(--textcolor);
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
}

@media (min-width: 576px) { 
  .NameCol{
    height: 50vh !important;
    align-items: center !important;
  }
  .BlobCol{
    height: 50vh !important;
  }
  .FredPic{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
@media (max-width: 575px) { 
  .NameCol{
    height: 50vh !important;
    align-items: center !important;
  }
  .BlobCol{
    height: 50vh !important;
  }
  .FredPic{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .IntroTopText{
    font-size: 10vw !important;
  }
  .IntroBottomText{
    font-size: 10vw !important;
  }
}

@media (min-width: 768px) { 

  .NameCol{
    height: 100vh !important;
  }

  .BlobCol{
    height: 100vh !important;
  } 
  .FredPic{
    margin-left: 60vw !important;
    height: 35vw;
  }

  
}

@media (min-width: 992px) { 
  .NameCol{
    height: 100vh !important;
  }
  .BlobCol{
    height: 100vh !important;
  }
  .FredPic{
    height: 35vw;
  }
}


@media (min-width: 1200px) { 

  .NameCol{
    height: 100vh !important;
  }

  .BlobCol{
    height: 100vh !important;
  }
  .FredPic{
    height: 35vw;
  }
}