:root{
  --firstlayer: #121212;
  --secondlayer: #292929;
  --accentColor: #d11313;
}

.fullHeight{
  height: 100vh;
}

body{
  background-color: var(--firstlayer);
}

.NameCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BlobCol{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.FredPic{
  position: absolute;
  margin-left: 10vw;
  z-index: 3;
  height: 35vw;
  width: auto;
}

@media (min-width: 576px) { 
  .NameCol{
    height: 50vh !important;
  }
  .BlobCol{
    height: 50vh !important;
  }
  .FredPic{
    margin-left: 35vw !important;
  }
}

@media (min-width: 768px) { 

  .NameCol{
    height: 100vh !important;
  }

  .BlobCol{
    height: 100vh !important;
  } 
  .FredPic{
    margin-left: 10vw !important;
  }

  
}

@media (min-width: 992px) { 
  .NameCol{
    height: 100vh !important;
  }
  .BlobCol{
    height: 100vh !important;
  }
}


@media (min-width: 1200px) { 

  .NameCol{
    height: 100vh !important;
  }

  .BlobCol{
    height: 100vh !important;
  }
}